doctype html
html
    include head
    block spreadsheets
        link(rel="stylesheet", href="/stylesheets/index.css")
    
    body
        .container
            nav#blog-header
                #social-media-links
                    a#facebook(href="http://www.facebook.com") Facebook
                    a#instagram(href="http://www.instagram.com") Instagram
                #menu
                    a#home(href="/") Home
                    a#archives(href="/archives") Archives
            h1#title= title
            #blog-body
                block body
            #blog-footer
                p Stay awesome, kids!
