@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
html, body{
    height: 100%;
}

body{
    display: flex;
    justify-content: center;
    align-content: center;
}

.container{
    width: 650px;

    font-family: 'Roboto Condensed', sans-serif;
}
@media(max-width: 650px){
    .container{
        width:100%;
    }
}

#blog-body, #blog-footer{
    padding: 0 20px;
}
#blog-header{
    display: flex;
    justify-content: space-between;
}
#blog-body{

}
#blog-footer{

}
#social-media-links, #menu{
    display: flex;
}
#social-media-links a, #menu a{
    text-decoration: none;
    
    padding: 10px;
}
#social-media-links a:hover, #menu a:hover{
}

#comments textarea{
    max-width: 650px;
    width: 40%;
    height: 50px;
    transition: 0.5s;
}
#comments textarea:focus{
    width: 100%;
    height: 100px;
}

.preformatted{
    white-space: pre-wrap;
}

hr{
    border: 0;
    height: 1px;
    background: linear-gradient(to right, black, white);
}